[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "From vocabulary to listening and reading "
[access "refs/*"]
	owner = group user/Rorschach (licaiwang)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Rorschach (licaiwang)
	label-Verified = -1..+1 group user/Rorschach (licaiwang)
	push = group user/Rorschach (licaiwang)
	read = group user/Rorschach (licaiwang)
	rebase = group user/Rorschach (licaiwang)
	removeReviewer = group user/Rorschach (licaiwang)
	submit = group user/Rorschach (licaiwang)
[access "refs/heads/*"]
	create = group user/Rorschach (licaiwang)
	push = +force group user/Rorschach (licaiwang)
	pushMerge = group user/Rorschach (licaiwang)
	read = group user/Rorschach (licaiwang)
[access "refs/tags/*"]
	push = group user/Rorschach (licaiwang)
	push = +force group user/Rorschach (licaiwang)
